<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Página Principal
    <small>Resúmen Mensual</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Página Principal</li>
  </ol>
</section>

<section class="content">


</section><!-- /.content -->
